<!DOCTYPE HTML>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Authorization</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
<style>
    footer {
    margin-top: 35em;
    font-size: smaller;
    }
</style>
</head>

<body>
    <nav class="navbar navbar-default">
            <div class="navbar-header">
                <div class='navbar-brand' href="{% url 'HotKeyStat-index' %}"> 
                    HotKey Excellence Statistics
                </div>
            </div>
    </nav>


<div class="container">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <p>Invalid name or password. Try again.</p>
    </div>
    {% endif %}
    <div class="page-header">
        <h3 class="col-sm-offset-5"> Input </h3>
    </div>
<form action="{% url 'login' %}" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username" class="col-sm-offset-2 col-sm-2 control-label">User name:</label>
        <div class="col-sm-3">
                <input type="UserName" class="form-control" id="username" name="username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-offset-2 col-sm-2 control-label">Password:</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="password" name="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <button type="submit" class="btn btn-default">Come in</button>
        </div>
    </div>

    <input type="hidden" name="next" value="{{ next }}"/>
</form>

<footer class="text-muted">
    &copy; &nbsp{% now "Y" %} HotKey Excellence<br>
    Technical Support: mvs80@rambler.ru
</footer>

</div>
</body>
</html>
