<!DOCTYPE HTML>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Authorization</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/hkstat.css' %}">
<style>
    footer {
    margin-top: 35em;
    font-size: smaller;
    }
</style>
</head>

<body>
<div class="container">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <p>Invalid name or password. Try again.</p>
    </div>
    {% endif %}
    <div class="page-header">
        <img class="col-md-offset-4" src="{% static "/media/logo.png" %}" height="80" alt="HotKey Excellence">
    </div>
    <form action="{% url 'login' %}" class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label style="color: #167249" for="username" class="col-md-offset-2 col-md-2 control-label">User name:</label>
            <div class="col-md-3">
                    <input type="UserName" class="form-control" id="username" name="username">
            </div>
        </div>
        <div class="form-group">
            <label style="color: #167249" for="password" class="col-md-offset-2 col-md-2 control-label">Password:</label>
            <div class="col-md-3">
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-3">
                <button type="submit" class="btn btn-success" >Come in</button>
            </div>
            <!-- class="btn btn-success" -->
            <!-- style="background-color:#167249" -->
        </div>

        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    <footer class="text-muted">
        &copy; &nbsp{% now "Y" %} HotKey Excellence<br>
        Technical Support: mvs80@rambler.ru
    </footer>

</div>
</body>
</html>
